/*
.title{
  background-color: gray;
}

#menu-product-menu{

  li{
    a{
      position: relative;
      display: block;
      padding: 20px 0 20px 50px;
      font-size: 12px;
      color: #eee;
      border-bottom: 1px solid #222;
    }
  }

}

.sidebar-wrapper{
  display: flex;
  min-height: 100%;
}

.sidebar{

  width: 220px;
}*/